.error{
	color: red;
}

.success{
	color: green;
}

form fieldset { padding: 20px; }
div.control-group { margin-bottom: 20px; }
div.control-group label.control-label { width: 300px; }
div.control-group div.controls { width: 400px; }
div.controls span { color: red; font-size: 0.8em; }



div.alert { border-radius: 4px; margin: 5px 0; padding: 8px;}

.aParent div {
  float: left;
  clear: none; 
}

.largeHeight {
    height: 24px;
    width: 25px;
}

.shortHeight {
    height: 10px;
    width: 10px;
}
