body {
    height: auto;
}

#link {
    color: #2E2E2E;
}

.w3-text-theme {color:#4a5444 !important}
.w3-theme {color:#fff !important; background-color:#4a5444 !important}

.w3-theme-l5 {color:#000 !important; background-color:#f4f5f3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#dadfd7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#b6bfb0 !important}
.w3-theme-l2 {color:#fff !important; background-color:#91a088 !important}
.w3-theme-l1 {color:#fff !important; background-color:#6d7d64 !important}
.w3-theme-d1 {color:#fff !important; background-color:#434c3d !important}
.w3-theme-d2 {color:#fff !important; background-color:#3c4436 !important}
.w3-theme-d3 {color:#fff !important; background-color:#343b30 !important}
.w3-theme-d4 {color:#fff !important; background-color:#2d3329 !important}
.w3-theme-d5 {color:#fff !important; background-color:#252a22 !important}

.w3-theme-light {color:#000 !important; background-color:#f4f5f3 !important}
.w3-theme-dark {color:#fff !important; background-color:#252a22 !important}
.w3-theme-action {color:#fff !important; background-color:#252a22 !important}

.w3-theme-gradient {
    color: #000 !important;
    background:-webkit-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)
}

.w3-theme-gradient {
    color: #000 !important;
    background:-moz-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)
}

.w3-theme-gradient {
    color: #000 !important;
    background:-o-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)
}

.w3-theme-gradient {
    color: #000 !important;
    background:-ms-linear-gradient(top,#9fabba 25%,#f4f5f3 75%)
}

.w3-theme-gradient {
    color: #000 !important;
    background: linear-gradient(top,#9fabba 25%,#f4f5f3 75%)
}

.no-display{
    display:none;
}

#loginModal {
    display: block;  
}

#menuTopLeft {    
    position: fixed;
    z-index: 1;
    padding: 0;       
    left: 0;
    width: 56px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menuTopRight {    
    position: fixed;
    z-index: 4;
    padding: 0;       
    right: 0;
    width: 56px;
}

#menuBottomRight {    
    position: fixed;
    z-index: 2;
    padding: 0px;       
    right: 0px;
    width: 56px;
}

#menuBottomLeft {    
    position: fixed;
    z-index: 1;
    padding: 0px;           
    width: 56px;    
}

#ToolbarIcon {
    color: #2E2E2E;
}

#connectionLost{
    z-index: 4;
}

.uib-tab a {
    color: #2E2E2E;    
}

.uib-tab.active a {
    color: #2E2E2E;
    background-color: #e7ffe7 !important;
}

#eventIcon {
    max-width: 30px;
    max-height: 30px;
}

.loading{
    background-image:url(../img/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.etiqueta{
    display: inline-block;
    margin: 4px;
    padding: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #1c89b0;
}

.iconEquis{
    cursor:pointer;
}

#resumenMenuSuperior a:hover{
    color:#fff !important;
    background-color:#1ABC9C !important
}

#resumenMenuSuperior span{
    background-color: #1ABC9C;
}

#mapaMenuSuperior a:hover{
    color:#fff !important;
    background-color:#2ECC71  !important
}

#mapaMenuSuperior span{
    background-color: #2ECC71;
}

#monitorMenuSuperior a:hover{
    color:#fff !important;
    background-color:#3498DB  !important
}

#monitorMenuSuperior span{
    background-color: #3498DB;
}

#reportesMenuSuperior a:hover{
    color:#fff !important;
    background-color:#9B59B6  !important
}

#reportesMenuSuperior span{
    background-color: #9B59B6;
}

#logoutMenuSuperior a:hover{
    color:#fff !important;
    background-color:#34495E  !important
}

#logoutMenuSuperior span{
    background-color:#34495E;
}

.sltTable{   
    border-left: 2px blue solid;
    border-right: 2px blue solid;
}

.reportGenerado{
    width:90%;
    min-height: 450px;
    margin-left: 4%
}

.mapDetail{
    width: 100% !important;
}

.labels {
    background-color: black;
    color:white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    white-space: nowrap;
}

.animate{
    transition: height linear 0.5s;
}

#tableDetailaux> .dataTables_wrapper >.dataTables_filter{
    margin-top: -60px;
    color:white !important;
}

#tableDetailaux >.dataTables_wrapper> .dataTables_filter label input{
    color:black !important;
}

.tableDetailVars thead{
    background-color: #337ab7 !important;
    color: white !important;
}

.tableDetailVars thead tr th{
    text-align: center !important;
}

.tableDetailVars tbody tr td{
    text-align: center !important;
}

.uib-tab.active a{
    background-color: #337ab7 !important;
    color: white !important;
}
.titleDetail{
    background-color: #337ab7;
    color: white;
}

.subtitleDetail{
    background-color: #609080;
    color: white;
}
#tableInformacion tbody tr td.titleDetail{
    border: 2px solid;
    padding-left: 3px !important;
}

.pageTitle {
    color: #337ab7;
    border-bottom: solid;
}

.scrollReport{
    height: 300px;overflow: scroll;
}

#eventsAlarmsContainer {
    max-height: 225px;
    height: auto;    
    z-index: 2;
    border: solid 3px #337ab7;
    border-bottom: none;
}

#eventsContainer, #alarmsContainer{    
    max-height: 225px;
    bottom: 0px;
}

#eventsContainer {
    width: 40%;
    border-right: solid 1px #337ab7;
}

#alarmsContainer {
    width: 60%;
}

.dataTables_filter {
    margin-top: 0px;
    color: #337ab7 !important;
}

#alarmsTable, #eventsTable {
    height: 125px;
}

#alarmsRemoteTable, #eventsRemoteTable {
    height: auto;
}
.withEvents{
    background-color: yellow !important;
    color: black !important;
}

.withAlarms{
    background-color: red !important;
    color: black !important;   
}

.menu-icon {
    float: right;
    left: 0 !important;
    padding: 0 !important;
}   

.menu-content {    
    padding: 0 !important;
    height: auto !important;
}

.menu-item {    
    padding: 0 !important;
    height: auto !important;
    min-height: 0;
}

.menu-item span{    
    margin: 3px;
}

.alarm-notification, .event-notification {
    margin: 3px;
}

#summaryContainer, #monitorContainer {
    margin-right: 56px;
}
